<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<%- include('../partials/head.ejs', {title:"ML: Productos"}) %>

    <body>
        <!-- head -->
        <%- include('../partials/header.ejs') %>
            <article class="ultima-visita-ofertas">
                <% for (let i=0;i<datos.length;i++) { if (datos[i].discount !='0' ) { %>
                    <div class="producto-ultima-visita-ofertas">
                        <img src="/images/<%= datos[i].thumbnail%>" alt="">
                        <p class="descripcion-de-producto-ultima">
                        <h3 class="precios">$ <%=datos[i].price%>
                        </h3>
                        <h3>
                            <%= datos[i].title %>
                        </h3>
                        <h3 class="off">
                            <% if (datos[i].discount !='0' ) {%>
                                Off %<%=datos[i].discount%>
                                    <%}%>
                        </h3>
                        <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i>
                            <% if (datos[i].freeShipping=='yes' ) {%>
                                Envío gratis
                                <%} else {%>
                                    Envío no gratis
                                    <%}%>
                        </h3>
                        <br>
                    </div>
                    <%}}%>
            </article>
            <%- include('../partials/footer.ejs') %>
                <script src="https://kit.fontawesome.com/e48319c1bd.js" crossorigin="anonymous"></script>
    </body>

</html>